body{
  font-family: "museo-sans",sans-serif !important;
  font-style: normal;
  font-weight: 100;
}

.container{
  padding:0 !important;
}

.menu{
  margin-top:20px;
  padding: 0px 30px;
}

.menu div{
  display:inline-block;
  vertical-align: bottom;
}

#logo{
  width:80px;
}

#logo img{
  width:100%;
}

#name{
  font-size:1.3em;
  font-weight:300;
  color: #222A43;
}

#name span{
  color: #90DAD1;
}

.section{
  font-size:0.85em;
  line-height:2em;
  font-weight:400;
  min-height:360px;
}

.section:after, .menu:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.banner{
  background: url(images/background1.jpg) no-repeat center bottom;
  -webkit-background-size: 1140px;
  -moz-background-size: 1140px;
  -o-background-size: 1140px;
  background-size: 1140px;
  height: 300px;
  width:100%;
}

.right1{
  background: url(images/background2.jpg) no-repeat center center;
  -webkit-background-size: 650px;
  -moz-background-size: 650px;
  -o-background-size: 650px;
  background-size: 650px;
}

.left1{
  background: url(images/background3.jpg) no-repeat center center;
  -webkit-background-size: 650px;
  -moz-background-size: 650px;
  -o-background-size: 650px;
  background-size: 650px;
}

.right2{
  background: url(images/background4.jpg) no-repeat center center;
  -webkit-background-size: 650px;
  -moz-background-size: 650px;
  -o-background-size: 650px;
  background-size: 650px;
}

.navy, a.navy:hover{
  color: #222A43;
}

.aqua, a.aqua:hover{
  color: #90DAD1;
}

.red, a.red:hover{
  color: #D84F66;
}

.white, a.white:hover{
  color: white;
}


.navy_back{
  background-color: #212A43;
}

.aqua_back{
  background-color: #90DAD1;
}

.red_back{
  background-color: #D84F66;
}

.white_back{
  background-color: white;
}

.header{
  font-size:1.9em;
  line-height:1.4em;
  font-weight:300;
  margin-bottom:20px;
}

.subheader{
  font-style:italic;
  font-weight:600;
  font-size:0.5em;
}

.half{
  width:50%;
  min-width:470px;
  float:left;
  padding:50px 65px 0px 30px;
  height:360px;
  vertical-align:top;
}

#section2 .half{
  float:right !important;
}

.form{
  width:460px;
  margin: 50px 0px 0px 30px;
}

.nav{
  width:70%;
  float:right;
}

.nav a, .nav a:hover{
  font-size:0.7em;
  font-weight:600;
  padding:10px 20px;
  float:right;
  text-align:right;
  color: #222A43;
}

.nav a:hover, .menu a:hover, .section a:hover{
  text-decoration: none;
}

.contact_link{
  border: solid 1px #90DAD1;
}

.button{
  display:inline-block;
  margin-top:20px;
  padding:8px 20px;
  font-weight:600;
}

#social_icons img{
  width:80px;
  padding:20px;
}

#footer_links{
  color:white;
  float:right;
  margin:20px 20px 0px 0px;
}

#footer_links a, #footer_links a:hover{
  color:white;
  text-decoration:none;
  padding:0px 30px;
}

@media (max-width: 992px) {
  .section, .menu {
    width: 470px;
  }
  .nav{
    width:215px;
    float:right;
  }
  .container{
    width:500px;
  }

  #social_icons{
    margin-left:4px;
  }
  #social_icons img{
    width:39px;
    padding:20px 6px;
  }
}

@media (max-width: 470px) {
  .section, .menu {
    width: 320px;
  }
  .menu{
    padding:0px 0px 0px 8px;
  }
  .nav{
    width:200px;
    float:right;
  }
  #logo{
    display:none;
    width:0;
  }
  .container{
    width:320px;
  }

  .half{
    width:50%;
    min-width:320px;
    float:left;
    padding:50px 10px 0px 10px;
    height:360px;
    vertical-align:top;
  }

  .form{
    width:310px;
    margin: 50px 5px 0px 5px;
  }

  #social_icons{
    text-align:center;
  }

  #social_icons img{
    width:40px;
    padding:5px;
  }

  #footer_links a, #footer_links a:hover{
    padding:0px 10px;
  }
}
